<section class="doctor-details bg-color-3">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                <div class="clinic-details-content doctor-details-content">
                    <div class="clinic-block-one">
                        <div class="inner-box">
                            <figure class="image-box"><img src="https://hips.hearstapps.com/hmg-prod/images/portrait-of-a-happy-young-doctor-in-his-clinic-royalty-free-image-1661432441.jpg?crop=0.66698xw:1xh;center,top&resize=1200:*" alt="Dr. Öğr. Üyesi Mustafa Solak"></figure>
                            <div class="content-box">
                                <div class="like-box"><a href="#"><i class="far fa-heart"></i></a></div>
                                
                                <ul class="name-box clearfix">
                                    <li class="name"><h2>Dr. John Doe</h2></li>
                                    <li><i class="icon-Trust-1"></i></li>
                                    <li><i class="icon-Trust-2"></i></li>
                                </ul>
                                <span class="designation">Specialty: Cardiology</span>
                                
                                <div class="text">
                                    <br>
                                    <br>
                                    
                                </div>
                                <div class="lower-box clearfix">
                                    <ul class="info clearfix">
                                        <li><i class="fas fa-map-marker-alt"></i>Koc Hospital</li>
                                        <br>

                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-box">
                        <div class="tab-btn-box centred">
                            
                        </div>
                        <div class="tabs-content">
                            <div class="tab active-tab" id="tab-1">
                                <div class="inner-box">
                                    <div class="text">
                                        <h3>Dr. John Doe</h3>
                                        <p>Dr. born in 1978. John Doe graduated from the Medical Faculty of University. After completing his specialization at Istanbul Şişli Etfal Education and Research Hospital, he received a Minor Specialization at University Cancer Institute.
There are many cases related to Breast Cancer, Testicular Cancer, Ovarian Cancer, Lung Cancer, Head Neck Cancer, Digestive System Cancer.</p>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="tab" id="tab-2">
                                <div class="experience-box">
                                    <div class="text">
                                        <h3>Professional Experience</h3>
                                        <p>Dr. Agnes Ayres is a Maxillofacial Surgeon in New York, NY.  Dr. Ayres has more experience with Congenital Cardiac Disorders and Cardiac Care than other specialists in his area.  He is affiliated with medical facilities.</p>
                                        <ul class="experience-list clearfix">
                                            <li>
                                                Aurora Medical & Dental College:
                                                <p>Medical & General Dentistry <span>(Aug 2008-Sep 2013)</span></p>
                                            </li>
                                            <li>
                                                Horizon Dermatology & Cosmetic Center:
                                                <p>Assistant Darmatologist <span>(Oct 2013-Nov 2017)</span></p>
                                            </li>
                                            <li>
                                                New Apollo Hospital:
                                                <p>Darmatologist<span>(Dec 2017-Till Now)</span></p>
                                            </li>
                                        </ul>
                                        <h3>Key Skills</h3>
                                        <ul class="skills-list clearfix">
                                            <li>Proficient in assisting all Gynecology & Obstetrics Surgeries.</li>
                                            <li>Expert in conducting all high risk labor.</li>
                                            <li>Proficient in performing all minor surgeries.</li>
                                            <li>Expert in handling all outpatients & inpatients department</li>
                                            <li>Able to perform ultrasound of Gynecology & Obstetrics</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab" id="tab-3">
                                <div class="location-box">
                                    <h3>Locations</h3>
                                    <div class="map-inner">
                                        <div
                                            class="google-map"
                                            id="contact-google-map"
                                            data-map-lat="40.712776"
                                            data-map-lng="-74.005974"
                                            data-icon-path="assets/images/icons/map-marker.png"
                                            data-map-title="Brooklyn, New York, United Kingdom"
                                            data-map-zoom="12"
                                            data-markers='{
                                                    "marker-1": [40.712776, -74.005974, "<h4>Branch Office</h4><p>77/99 New York</p>","assets/images/icons/map-marker.png"]
                                                }'>

                                        </div>
                                    </div>
                                    <h4>New Apollo Hospital:</h4>
                                    <ul class="location-info clearfix">
                                        <li><i class="fas fa-map-marker-alt"></i>369 San Miguel Dr Ste 200 Newport <br />Beach,CA,92660</li>
                                        <li><i class="fas fa-phone"></i><a href="tel:2265458856">+(22) 65_458_856</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab" id="tab-4">
                                <div class="review-box">
                                    <h3>Dr. Agnes Ayres Reviews</h3>
                                    <div class="rating-inner">
                                        <div class="rating-box">
                                            <h2>4.5</h2>
                                            <ul class="clearfix">
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                            </ul>
                                            <span>Based on 5 review</span>
                                        </div>
                                        <div class="rating-pregress">
                                            <div class="single-progress">
                                                <span class="porgress-bar"></span>
                                                <div class="text"><p><i class="icon-Star"></i>5 Stars</p></div>
                                            </div>
                                            <div class="single-progress">
                                                <span class="porgress-bar"></span>
                                                <div class="text"><p><i class="icon-Star"></i>4 Stars</p></div>
                                            </div>
                                            <div class="single-progress">
                                                <span class="porgress-bar"></span>
                                                <div class="text"><p><i class="icon-Star"></i>3 Stars</p></div>
                                            </div>
                                            <div class="single-progress">
                                                <span class="porgress-bar"></span>
                                                <div class="text"><p><i class="icon-Star"></i>2 Stars</p></div>
                                            </div>
                                            <div class="single-progress">
                                                <span class="porgress-bar"></span>
                                                <div class="text"><p><i class="icon-Star"></i>1 Stars</p></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review-inner">
                                        <div class="single-review-box">
                                            <figure class="image-box"><img src="assets/images/resource/review-1.jpg" alt=""></figure>
                                            <ul class="rating clearfix">
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li class="light"><i class="icon-Star"></i></li>
                                            </ul>
                                            <h6>Agnes Ayres <span>- April 10, 2020</span></h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed eiusmod tempor incididunt labore dolore magna aliqua enim.</p>
                                        </div>
                                        <div class="single-review-box">
                                            <figure class="image-box"><img src="assets/images/resource/review-2.jpg" alt=""></figure>
                                            <ul class="rating clearfix">
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                            </ul>
                                            <h6>Mary Astor <span>- April 09, 2020</span></h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed eiusmod tempor incididunt labore dolore magna aliqua enim.</p>
                                        </div>
                                        <div class="single-review-box">
                                            <figure class="image-box"><img src="assets/images/resource/review-3.jpg" alt=""></figure>
                                            <ul class="rating clearfix">
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li class="light"><i class="icon-Star"></i></li>
                                            </ul>
                                            <h6>Anderson <span>- April 08, 2020</span></h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed eiusmod tempor incididunt labore dolore magna aliqua enim.</p>
                                        </div>
                                        <div class="single-review-box">
                                            <figure class="image-box"><img src="assets/images/resource/review-4.jpg" alt=""></figure>
                                            <ul class="rating clearfix">
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li class="light"><i class="icon-Star"></i></li>
                                            </ul>
                                            <h6>Bradshaw <span>- April 07, 2020</span></h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed eiusmod tempor incididunt labore dolore magna aliqua enim.</p>
                                        </div>
                                        <div class="single-review-box">
                                            <figure class="image-box"><img src="assets/images/resource/review-5.jpg" alt=""></figure>
                                            <ul class="rating clearfix">
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li><i class="icon-Star"></i></li>
                                                <li class="light"><i class="icon-Star"></i></li>
                                            </ul>
                                            <h6>Bradshaw <span>- April 26, 2020</span></h6>
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing sed eiusmod tempor incididunt labore dolore magna aliqua enim.</p>
                                        </div>
                                    </div>
                                    <div class="btn-box">
                                        <a href="doctors-details.html" class="theme-btn-one">Submit Review<i class="icon-Arrow-Right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="reservation-section">
    <h2>Make a Reservation</h2>
    <form action="#" method="post">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone Number:</label>
        <input type="tel" id="phone" name="phone" required>
      </div>
      <div class="form-group">
        <label for="date">Appointment Date:</label>
        <input type="date" id="date" name="date" required>
      </div>
      <div class="form-group">
        <label for="time">Appointment Time:</label>
        <input type="time" id="time" name="time" required>
      </div>
      <div class="form-group">
        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </section>
<!-- doctor-details end -->

<!-- agent-section -->


<!-- main-footer -->
<footer class="main-footer">
    <div class="footer-top">
        <div class="pattern-layer">
            <div class="pattern-1" style="background-image: url(https://medicnext.com/assets/images/shape/shape-30.png);"></div>
            <div class="pattern-2" style="background-image: url(https://medicnext.com/assets/images/shape/shape-31.png);"></div>
        </div>
        <div class="auto-container">
            <div class="widget-section">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget logo-widget">
                            <figure class="footer-logo"><img src="../../../../assets/medical-care-logo.svg" alt="footer-logo"></figure>
                            <div class="text">
                                <p>Transforming healthcare, one click at a time</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h3></h3>
                            </div>
                            <div class="widget-content">
                                <ul class="links clearfix">
                                    <li><a href="https://medicnext.com/about-us">Haqqımızda</a></li>
                                    <li><a href="https://medicnext.com/faq">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget contact-widget">
                            <div class="widget-title">
                                <h3></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner-box clearfix">
                <div class="copyright pull-left"><p>HealthLink &copy;</p></div>
                <ul class="footer-nav pull-right clearfix">
                    
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- main-footer end -->


<!--Scroll to top-->
<button class="scroll-top scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
</button>